{% extends 'layout.html' %}

{% block page_title %}Home{% endblock %}

{% block body %}
{% if registered %}
<div>
    <h2 class="slide-slow" style="text-align: center;">
        🕴️ How do you feel like today?
    </h2>
    <div class="grid">
        <button class="articles contrast outline" data-link="share-opinion">🗣️ I wanna share my opinions</button>
        <button class="articles contrast outline" data-link="write-story">📝 I wanna write a story</button>
        <button class="articles contrast outline" data-link="share-memories">✨ I wanna share memories</button>
    </div>
</div>
{% else %}
    <div>
        <strong class="show">👋 Welcome to soulkeeper, first create your soulavatar & your soulname</strong>
        <form class="show" id="avatarForm">
            <label>
                <blockquote>
                    <div id="display_avatar" style="width: 150px; height: 150px;">
                        <img src="{{ avatar }}" id="to-del" alt="" />
                    </div>
                    <footer><cite>My Avatar Soul</cite></footer>
                </blockquote>
                <input name="username" type="text" id="user-name" placeholder="Soulname" required />
            </label>
    
            <a id="saveButton" class="outline" href="#" role="button">Save</a>
        </form>
    
        <a href="/start_personality_test/0" id="start_test" role="button" class="outline contrast" style="display: none;">Start personality test</a>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <p>
                {% for message in messages %}
                <kbd>{{ message }}</kbd>
                {% endfor %}
            </p>
            {% endif %}
        {% endwith %}
    </div>
    <div></div>
    {% endif %}
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='new_user.js') }}"></script>
{% endblock %}