<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Include Firebase SDK scripts -->
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>

    <!-- PICO css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">

    <title>Soulkeeper | {% block page_title %}{% endblock%}</title>
</head>
<body>
    
    <nav class="container">
        {% if session["uid"] %}
        <ul>
            <li><a href="/home">🏡 Home</a></li>
            <li>
                <a href="/profile" >😄 profile
                </a>
            </li>
            <li><a href="/find_soul" >🔎 search</a></li>
        </ul>
        <ul><li><a href="/logout" role="button" class="contrast">Logout</a></li></ul>
        {% endif %}
    </nav>
    <main class="container">
        <section id="mother" class="grid">
            {% block body %}{% endblock %}
        </section>
    </main>

    <!-- GSAP -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
    <script src="{{ url_for('static', filename='animation.js') }}"></script>

    {% block script %}
    {% endblock %}


</body>
</html>