{% extends 'layout.html' %}

{% block page_title %} {{ user.name }} profile {% endblock %}

{% block body %}
<div class="show">
    <img src="https://api.multiavatar.com/{{ user.name }}.png" alt="Your soulavatar" />
    <h3 style="margin-top: 20px; text-align: center;">{{ user.name }}</h3>
    <kbd>{{ user.personality_type }}</kbd>
    {% if not session["email"] == user.email %}
    <button onclick="socketTheGPT()" class="outline contrast">Talk to the Avatar</button>
    {% endif %}
</div>
<div>
</div>
<div>
    <h3>AvatarSoul Progress</h3>
    {% for item in progress_data %}
    <label>{{ item['emoji'] }} {{ item['label'] }} <span><ins><small><sub><i><abbr>{{ item['percentage']|float|round(2) }}% complete</abbr></i></sub></small></ins></span>
        <progress value="{{ item['percentage']|float|round(2) }}" max="100"></progress>
    </label>
    {% endfor %}

    <h3>⏳ Most recent</h3>
</div>
{% endblock %}

{% block script %}
<script>
    function socketTheGPT() {
        alert("This feature will be enable soon!")
    }
</script>
{% endblock %}