{% extends 'layout.html' %}

{% block page_title %}Search for a soul{% endblock %}

{% block body %}
<div id="block-quote-container" style="display: none;">
</div>
<div class="to-hide">

    <h3>Choose a track</h3>

    <div class="grid">
        {% for category in categories %}
        <button onclick="talkAbout(this)" class="outline contrast articles" id="{{category.name}}">{{ (category.emoji ~ ' ' ~ category.name) }}</button>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='share_opinion.js') }}"></script>
{% endblock %}